@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #F5F6F9;
@define-color main-fg #1D2D50;

@define-color wb-act-bg #007BFF;
@define-color wb-act-fg #FFFFFF;

@define-color wb-hvr-bg #3751FF;
@define-color wb-hvr-fg #FFFFFF;

body {
    background-color: #000;
}

.main {
    background-color: #1D2D50;
    color: #FFF;
}

.waybar-active {
    background-color: #007BFF;
    color: #FFF;
}

.waybar-hover {
    background-color: #3751FF;
    color: #FFF;
}
